
.navbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    width: 100vw;
    height: 6.25rem;
    padding: 0 1rem;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-weight: 300;
    font-size: 0.875rem;
    margin-right: 3rem;
    text-transform: uppercase;
}

.navbar__links a {
    color: white;
    text-decoration: none;
    transition: .2s all ease;
}

.navbar__links a.active{
    color: var(--color-primary);
}

.navbar__links a:hover {
    color: var(--color-primary);
}
